{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<img src="../static/941610.jpeg" alt="">
<footer>
    <div class="contacto">
        <h3>Información de Contacto</h3>
        <p>Correo electrónico: subsecretaria.academica@ujed.mx</p>
        <p>Teléfono: +52(618) 827-12-48</p>
        <p>Dirección: Cuarto piso, Edificio de la Librería UJED. Victoria Sur 200, esquina con 20 de Noviembre, Zona Centro.

            C.P. 34000. Durango, Dgo. México.</p>
    </div>
</footer>

{% endblock %}