{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}
<div>
    <h1>Recomendaciones</h1><br><br>
    <a href="{% url 'cargar_persona' %}">Agregar recomendacion</a>
</div>

<div class="main-grid">
    {% for persona in personas %}
    <div class="card">
        <div class="card-content">
            <h2 class="card-title">{{persona.id}}</h2>
            <p class="card-description">{{persona.nombre}}</p>
            <p class="card-description">{{persona.edad}}</p>
            <p class="card-description"><a href="{{ persona.archivo.url }}" target="_blank">{{ persona.archivo }}</a></p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
